.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 22px;
  margin-bottom: 6px;
  color: #111;
  border-radius: 3px;
  display: flex;
  min-height: 140px;
  align-items: center;
  justify-content: space-between;
}